* {
  margin: 0;
  padding: 0;
}

.nav-wrapper {
  border-bottom: 1px solid #80808045;
}

.banner {
  background-color: #3d155f;
  height: 450px;
}

.banner-left {
  width: 50%;
  padding: 5em 2em;
}
.who-we-are {
  background-color: #f5f4ff;
  padding: 40px;
}

.who-we-are h4 {
  margin-top: 0px;
}

.who-we-are-section {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
